* {

    color: black;
}


main footer {
    background-color: #fbfbfb
}

nav {
    background-color: #fafafa;
}

.add_icon {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.bi-plus-lg {
    cursor: pointer;
    font-size: 40px;
    padding: 0.75rem 1.25rem;
    z-index: 1050;  
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: bold;
    background-color: steelblue;
}

.bi-github {
    color: black;
    text-decoration: none;
}

.form-control {
    width: 50%;
}

.task-list {
    background: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: auto;
}

.task-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
}

.add-task-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.tasks {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; /* Odległość między zadaniami */
}

.task-completed {
    text-decoration: line-through;
    color: #808080;
}

.task input[type="checkbox"] {
    margin-right: 10px; /* Odległość checkboxa od tekstu */
}

.task label {
    flex-grow: 1;
}


/* Kolor tła dla zaznaczonego switcha */
.form-switch .form-check-input:checked {
    background-color: steelblue;
    border-color: steelblue;
  }
  
  /* Kolor suwaka dla zaznaczonego switcha */
  .form-check-input + .form-check-label::before {
    background-color: #fff; /* Biały kolor suwaka */
  }


  @media (max-width: 768px) {
    .container-sm {
        width: 90% !important; 
        padding: 10px; 
    }

    .form-label {
        font-size: 14px;

    }
    .form-control {
        font-size: 14px;
        width: 75%;
    }
    .btn {
        padding: 10px 20px; 
        font-size: 16px; 
    }

    .alert {
        font-size: 14px; 
    }
}
