{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block login %} 
<a class="btn" href="/logout">Log out</a>
{% endblock %}

{% block main %}
<div class="container-fluid mt-3">
  <!-- User Card -->
  <div class="row justify-content-start mb-3">
      <div class="col-md-4 mb-3">
          <div class="task-list">
              <header class="task-list-header">
                  {% if user_data %}
                      {% for user in user_data %}
                          <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                      {% endfor %}
                  {% endif %}
              </header>
          </div>
      </div>
  </div>
  <!-- Task Cards -->
  <div class="row">
        {% for category_name, tasks in tasks_by_category.items() %}
            {% if tasks %}
                <div class="col-md-4 mb-3">
                    <div class="task-list">
                        <header class="task-list-header">
                            <h3>{{ category_name }}</h3>
                        </header>
                            {% for task in tasks %}
                            <ul class="tasks">
                                <li class="task">
                                    <input type="checkbox" id="task-1">
                                    <label for="task-1">{{ task.title }}</label>
                                    <button class="edit-task-button">Edit</button>
                                </li>
                            {% endfor %}
                            </ul>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
    <div class="add_icon">
        <a class="bi bi-plus-lg" href="/addtask"></a>
    </div>
    {% endblock %} 