{% extends "layout.html" %}

{% block title %} Log in {% endblock %}

{% block login %} 
<a class="btn" href="/register" style="background-color: steelblue; color: white;">Sign in</a>
{% endblock %}

{% block main %}
    <div class="container-lg py-5 text-center w-50">
        <form action="/login" method="post">
            <div class="mb-5">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input required type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-5">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input required type="password" class="form-control" name="password" id="password">
            </div>
            <button type="submit" class="btn" style="background-color: steelblue; color: white;">Log in</button>
        </form>
        <br>
        <br>
        {% with messages = get_flashed_messages(category_filter=["form_error"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endfor %}                        
            {% endif %}
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter=["login_error"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endfor %}                        
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}